---
import ClientDisplay from '../components/ClientDisplay.tsx';
import '../styles/client.css';
---

<html>
	<head>
		<title>Robot Dashboard</title>
	</head>
	<body>
		<ClientDisplay client:only="react" />
	</body>
</html>
