---
import Controls from '../components/Controls.tsx';
import '../styles/dashboard.css';
---

<html>
	<head>
		<title>Robot Dashboard</title>
	</head>
	<body>
		<Controls client:only="react" />
	</body>
</html>
