---
import Controls from '../components/Controls.tsx';
import '../styles/dashboard.css';
---

<html>
	<head>
		<title>Robot Dashboard</title>
	</head>
	<body>
		<Controls client:only="react" />
		<div class="go-client-container">
			<a href="/client" class="go-client-button">View Client Display</a>
		</div>
	</body>
</html>
